---
import Gradient from '../components/Gradient.astro';
import BaseHead from '../components/BaseHead.astro';
import Hero from '../components/Hero.astro';
import Tiles from '../components/Tiles.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sidetabs from '../components/SideTabs.astro';
import AboutTyler from '../components/AboutTyler.astro';
import Training from '../components/Training.astro';
import Quote from '../components/Quote.astro';
import ContactForm from '../components/ContactForm.astro';
let backgroundUrl = 'url(/images/maynard-bg-block.png)';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <Gradient /> -->
		<Header />
		<main>
			<Hero />
			<Tiles />
		</main>
		<!-- <AboutTyler /> -->
		<main class="logo-bg">
			<Sidetabs />
		</main>
		<Training />
		<Quote />
		<ContactForm />
		<Footer />
	</body>

	<style define:vars={{ backgroundUrl }}>
		.logo-bg {
			background-image:var(--backgroundUrl);
			background-position: bottom;
			background-size: 710px;
			background-repeat: no-repeat;
			background-position-x: -50px;
			background-position-y: 420px;
			padding-bottom: 20px;
		}
	</style>
</html>


