---
---
<div class="contact-form">
    <main>
        <h2>Connect with Tyler</h2>

        <form>
            <label for="name">
                <span class="subhead">some smaller context</span>
                <br />
                Some regulare input text with some extra
            </label>
            
            <div class="flex">
                <input type="text" id="name" name="user_name" />
                <button type="submit">Sent Tyler a Message</button>
            </div>
            
        </form>
    </main>
</div>

<style>
    
    .contact-form {
        background:#fff;
        color:#3a3a3a;

        h2 {
            font-size:1.8em;
            margin-top:40px;
        }

        form {
            margin-top:40px;
            margin-bottom:80px;
        }

        label {
            font-size:.8em;
            line-height: 1.5em;
            display: block;
            
            em {
                text-transform: none;
            }

            .subhead {
                font-weight: 800;
            }
        }

        input {
            border:1px solid #3a3a3a;
            width:400px;
            height: 33px;
            display: block;
            margin-top:20px;
            margin-bottom:20px;
        }

        button {
            display: block;
            border: 1px solid #3a3a3a;
            padding: 0px 25px;
            height: 33px;
            margin-left: 30px;
            font-size: .8em;
            margin-top: 20px;
            background:#3a3a3a;
            color:#fff;
        }
    }
</style>