---
---
<div class="gradient">
</div>

<style>
    .gradient {
        width: 1289px;
    height: 1170px;
    background: #151515 radial-gradient(#323232 0, #151515 60%);
    position: absolute;
    z-index: -999;
    top: -500px;
    left: -500px;
    opacity: 50%;
    }
</style>