---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Navigation from './Navigation.astro';
import Image from 'astro/components/Image.astro';
import tylerLogo from '../images/tyler-maynard-logo-white.svg';
---

<header>
	<nav class="flex justify-between items-center">
		<div class="logo">
			<h2><a href="/"><Image src={tylerLogo} alt="Tyler Maynard Logo" width="92" /></a></h2>
		</div>
		
		<Navigation />
	</nav>
</header>
<style>
	header {
		margin: auto;
		max-width: 939px;
		padding: 0 1em;
	}
	nav {
		max-width:960px;
		margin-top:20px;
		margin-bottom:20px;
	}
</style>
