---
---
<div class="hero pb-16">
    <h1 class="pb-4 antialiased">I help men <br /><b>develop the tools</b> to maneuver through life’s bullshit.</h1>
    <p class="text-2xl subpixel-antialiased pb-4">Stop suffering alone. <br />
        Take the first step out of stuck. <br />
        Examine and remove the shackles. <br />
        One call at a time.
    </p>
    <a class="text-2xl inline-block" href="#">
        Explore the Tools
    </a>
</div>

<style>

    .hero h1 {
        font-family: Georgia, Times, "Times New Roman", serif;
        color:#fff;
        max-width:75%;
        font-size: 1.8em;
    }

    p {
        line-height: 1.5em;
    }

    a {
        border:1px solid #fff;
        padding:10px 20px;
        color:#fff;
    }
</style>