---
---
<div class="hero p-12">
    <h1 class="pb-12">I help men <br /><b>develop the tools</b> to maneuver through life’s bullshit.</h1>
    <p>I was having a story play out in my mind of a young boy trying to pull back a bow and shoot it. He constantly waits for a man to come in and help teach him to work his bow.</p>
</div>

<style>
    .hero {
        border-width:8px;
        border-color:#fff;
    }

    .hero h1 {
        font-family: Georgia, Times, "Times New Roman", serif;
        color:#fff;
        max-width:75%;
        font-size: 2em;
    }
</style>