---
---

<div class="quote">
    <main>
        <div>
            <p>Between stimulus and response there is a space. In that space is <em class="b">our power to choose our response.</em> In our response lies our growth and our freedom.</p>
            <p class="author">- Viktor Frankl</p>
        </div>
    </main>
</div>

<style>
    
    main {
        div {
            border-left:1px solid #ccc;
            margin-left: -25px;
            margin-top:50px;
            position: relative;

            &&::before {
                content:'“';
                position: absolute;
                left:-125px;
                font-size:10em;
                top:70%;
                line-height: 0;

            }
        }


    }

    p {
        
        font-size: 1.5em;
        font-weight: 100;
        line-height: 1.3em;
        padding-left:50px;
        
        em {
            font-weight: 900;
        }
    }

    p.author {
        font-family: 'Source Sans 3', sans-serif;
        font-size:.8em;
    }
</style>