---
import { Image } from 'astro:assets';
let backgroundUrl = 'url(/images/maynard-bg-block.png)';

---

<div class="sidetabs grid grid-cols-3">
    <div id="tabs" class="left-col col-span-3 md:col-span-1 grid grid-cols-2 gap-4 md:block">
        <h3 class="leading-6 helping col-span-2">I help men: (Choose one)</h3>
        <h2 data-tab="1" class="active">Lead in Relationship</h2>
        <h2 data-tab="2">Resolve Discomfort</h2>
        <h2 data-tab="3">Connect to their Masculine Core</h2>
        <h2 data-tab="4">Establish Presence in Life</h2>
    
    </div>
    <div class="right-col pt-8 col-span-3 md:col-span-2">
        <div class="tab-content" data-content="1">
            <h3>Establish Safety.</h3>
            <p >One of the ideas that has been on repeat in my adulthood is this idea of “killing the boy, and becoming the man”.</p>
            <ul>
                <li>Do that</li>
                <li>Do some of this</li>
                <li>Just another thing for this one</li>
            </ul>
            <p>Don't forget where you came from. Who you are. And what you do.</p>
        </div>
        <div class="tab-content hidden" data-content="2">
            <h3>Addressing the discomfort.</h3>
            <p>One of the ideas that has been on repeat in my adulthood is this idea of “killing the boy, and becoming the man”.</p>
            <ul>
                <li>Do that</li>
                <li>Do some of this</li>
                <li>Just another thing for this one</li>
            </ul>
            <p>Don't forget where you came from. Who you are. And what you do.</p>
        </div>
        <div class="tab-content hidden" data-content="3">
            <h3>We are masculine.</h3>
            <p>One of the ideas that has been on repeat in my adulthood is this idea of “killing the boy, and becoming the man”.</p>
            <ul>
                <li>Do that</li>
                <li>Do some of this</li>
                <li>Just another thing for this one</li>
            </ul>
            <p>Don't forget where you came from. Who you are. And what you do.</p>
        </div>
        <div class="tab-content hidden" data-content="4">
            <h3>Presence</h3>
            <p>One of the ideas that has been on repeat in my adulthood is this idea of “killing the boy, and becoming the man”.</p>
            <ul>
                <li>Do that</li>
                <li>Do some of this</li>
                <li>Just another thing for this one</li>
            </ul>
            <p class="text-xl/8">Don't forget where you came from. Who you are. And what you do.</p>
        </div>
    </div>
</div>
<style define:vars={{ backgroundUrl }}>

    .sidetabs  {
        margin-top:60px;
        margin-bottom:60px;
    }

    .left-col {

    }
    

    .left-col p {
        font-size:14px;
    }

    .left-col h2 {
        font-size:1.2rem;
        border:1px solid rgb(var(--gray-line));
        padding:20px;
        color:rgb(var(--gray-light));
        cursor: pointer;
        transform: scale(1); /* you need a scale here to allow it to transition in both directions */
        transition: 0.15s all ease;
        
        @media (min-width: 768px) {
            font-size:1.2em;
            padding-bottom:30px;
            border:none;
            padding-left:0px;
            border-bottom: 1px solid rgb(160, 160, 160);
            margin-top:30px;    
            margin-bottom:30px;
        }

        
        .helper {
            display: block;
        }
        

        &.active {
            color:rgba(var(--black));
            background:rgb(var(--gray-light));
            

            @media (min-width: 768px) {
                background:none;
                color:rgb(var(--gray-light));
            }
        }

        &:hover {
            @media (min-width: 768px) {
                padding-left:5px;
            }
            @media (max-width: 768px) {
                background:rgb(var(--gray-line));
                color:rgb(var(--gray-light));
            }
        }
    }

    .left-col h3 {
        font-size: 1rem;
        font-family: 'Source Sans 3', sans-serif;

    }
    
    .right-col {

        @media (min-width: 768px) {
            padding-left:70px;
        }
    }

    .right-col {
        
        h3 {
            font-size: .8em;
            font-weight: 800;
            font-family: 'Source Sans 3', sans-serif;
            margin-bottom:30px;
        }

        ul{
            margin-bottom: 30px;

            li {
                list-style:disc;
                margin-left:30px;
                font-size:1rem;
            }
        }

        p {
            font-size:1rem;
        }
    }
</style>
<script>

    // Find our component DOM on the page.
    const buttons = document.querySelectorAll('#tabs h2');
    const tabContent = document.querySelectorAll('.tab-content');

    // Add event listeners to fire confetti when a button is clicked.
    buttons.forEach((button) => {
        button.addEventListener('click', function(){
            buttons.forEach(Element=> {
                Element.classList.remove('active');
            });
            
            let currentTab = this.dataset.tab;
            
            this.classList.add('active');
            showTabContent(currentTab);
        });
    });

    function showTabContent(showMe){

        tabContent.forEach(element => {
            element.classList.add('hidden');            
        });

        tabContent[showMe -1].classList.remove('hidden');

    };
</script>