---
import Image from 'astro/components/Image.astro';
import TrainingTile from '../components/TrainingTile.astro';
import tylerImage from '../images/logo-large-branding.png';
import tylerPodcast from '../images/tyler-podcast.jpg';
let backgroundUrl = 'url(/images/logo-large-branding.png)';
---

<div class="training">
    <main>
        <TrainingTile>
    </main>
</div>

<style define:vars={{ backgroundUrl }}>

    .training {
        background:#fff;
        color:#3A3A3A;
        background-image:var(--backgroundUrl);
        background-repeat: no-repeat;
        background-position:100% 20%;
        position: relative;
        z-index: 2;
        

        main {
            border-left:1px solid #3a3a3a;
            padding-top: 80px;
        }
    }

    
</style>