---
---

<div class="training-tile">
    <div class="dot"></div>
    <h2>Weekly support and training.</h2>
    <div class="divider"></div>
    <p>We will connect on a weekly or bi-weekly cadence to train on the tools of relationships, connection with self, mental reseliancy, curiosity, and presence.</p>
</div>

<div class="training-tile">
    <div class="dot"></div>
    <h2>Weekly support and training.</h2>
    <div class="divider"></div>
    <p>We will connect on a weekly or bi-weekly cadence to train on the tools of relationships, connection with self, mental reseliancy, curiosity, and presence.</p>
</div>

<div class="training-tile">
    <div class="dot"></div>
    <h2>Weekly support and training.</h2>
    <div class="divider"></div>
    <p>We will connect on a weekly or bi-weekly cadence to train on the tools of relationships, connection with self, mental reseliancy, curiosity, and presence.</p>
</div>

<div class="training-tile">
    <div class="dot"></div>
    <h2>Weekly support and training.</h2>
    <div class="divider"></div>
    <p>We will connect on a weekly or bi-weekly cadence to train on the tools of relationships, connection with self, mental reseliancy, curiosity, and presence.</p>
</div>

<style>

    .training-tile {
        padding-left: 40px;
        position: relative;
        margin-bottom:100px;
    }

    .dot {
        width: 15px;
        height: 15px;
        background: #3a3a3a;
        position: absolute;
        z-index: 999;
        border-radius: 50%;
        left: -32px;
        overflow: visible;
        top: 10px;

    }

    h2 {
        font-size:1.2em;
        margin-bottom:50px;
        max-width: 250px;;
    }

    .divider {
        width: 150px;
        height: 2px;
        background:#ababab;
        margin-bottom:50px;
    }

    p {
        max-width:500px;
        font-size:.8em;
    }
</style>